@font-face {
  font-family: "Interface";
  font-weight: normal;
  src: url("../assets/fonts/InterFace_W_Rg.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/InterFace_W_Rg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../assets/fonts/InterFace_W_Rg.woff2") format("woff2"), /* Super Modern Browsers */
       url("../assets/fonts/InterFace_W_Rg.woff") format("woff"), /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Interface";
  font-weight: bold;
  src: url("../assets/fonts/InterFace_W_Bd.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/InterFace_W_Bd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../assets/fonts/InterFace_W_Bd.woff2") format("woff2"), /* Super Modern Browsers */
       url("../assets/fonts/InterFace_W_Bd.woff") format("woff"), /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Interface";
  font-style: italic;
  src: url("../assets/fonts/InterFace_W_It.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/InterFace_W_It.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../assets/fonts/InterFace_W_It.woff2") format("woff2"), /* Super Modern Browsers */
       url("../assets/fonts/InterFace_W_It.woff") format("woff"), /* Pretty Modern Browsers */
}
