$blue-20262c: #20262c;
$blue-061e31: #061e31;
$blue-044c7f: #044c7f;
$blue-1a4e79: #1a4e79;
$blue-006aa9: #006aa9;
$blue-339cda: #339cda;
$blue-daeaf2: #daeaf2;
$blue-e8f5fc: #e8f5fc;

$green-5e9d43: #5e9d43;
$green-085453: #085453;
$green-0c5554: #0c5554;
$green-34a9a8: #34a9a8;
$green-93bbba: #93bbba;
$green-f0f3f5: #f0f3f5;

$orange-ff7300: #ff7300;
$orange-fcb67d: #fcb67d;

$grey-3b3b3b: #3b3b3b;
$grey-454545: #454545;
$grey-414345: #414345;
$grey-525455: #525455;
$grey-5a5e68: #5a5e68;
$grey-7f7f7f: #7f7f7f;
$grey-808285: #808285;
$grey-b9c1c7: #b9c1c7;
$grey-c3c6c9: #c3c6c9;
$grey-d3d5d7: #d3d5d7;
$grey-eaeaea: #eaeaea;
$grey-ededed: #ededed;

$purple-e803b1: #e803b1;

// $good-green: #119b6a;
// $bad-red: #c54137;

$good-green: #79b742;
$good-green-dim: #bae0a9;
$neutral-gray: #e0dcd1; //#d4d6d9;
$bad-red: #da3727;
$bad-red-dim: #f3b7b0;
$medicaid-yellow: #e8ba1a;
