@import "./_colors.scss";

.svg-location-pin {
    width: 15px;
    height: 20px;
    fill: $green-34a9a8;
}

.svg-question-mark {
    width: 20px;
    height: 20px;
    fill: $green-34a9a8;
}

.svg-map-pin {
    width: 20px;
    height: 20px;
    fill: $green-34a9a8;
}

.svg-x {
    width: 16px;
    height: 16px;
}

.svg-globe {
    width: 110px;
    height: 110px;
    fill: $green-5e9d43;
}

.svg-bandage {
    width: 110px;
    height: 110px;
    fill: $green-34a9a8;
}

.svg-child {
    width: 70px;
    height: 118px;
    fill: $green-34a9a8;
}


.svg-doctor {
    width: 76px;
    height: 102px;
    fill: $grey-5a5e68;
}

.svg-ambulance {
    width: 110px;
    height: 83px;
    fill: $green-34a9a8;
}

.svg-elderly {
    width: 50px;
    height: 70px;
    fill: $grey-5a5e68; 
}

.svg-heart {
    width: 111px;
    height: 107px;
    fill: $green-5e9d43;
}

.svg-hospital {
    width: 110px;
    height: 108px;
    fill: $green-5e9d43;
}

.svg-medication {
    width: 110px;
    height: 111px;
    fill: $grey-5a5e68;
}


.svg-alert {
    height: 55px;
    width: 66px;
}
