 #container1, #container2, #container3, #container4, #container5 {
 	cursor: default;
 }

 .exhibit-label {
 	font-weight: normal;
 }

/*Chart 1*/

#container1 text {
	fill: #ccc;
	font-size: 14px;
	cursor: default;
}

#container1 .axis path, .axis line{
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

#container1 .tick text{
	fill: gray;
}

#container1 .chartOnetrendline{
	fill: none;
}

#container1 .gridline line{
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}


#container1 .key{
	cursor: default;
	shape-rendering: crispEdges;
}

#container1 .infoBubbleData{
	fill: black;
}

#container1 #infoBubble{
	fill: white;
	stroke-width: 2px;
}

#container1 #infoBubbleYear{
	font-size: 12px;
}

#container1 #infoBubbleGDP{
	font-size: 19px;
}

#container1 #UnitedStatesline, #container1 .UnitedStateschartOneInfoBox{
	stroke: rgb(162,83,35);
}
#container1 #UnitedStateskey, #container1 #UnitedStateskeyText{
	fill:  rgb(162,83,35);
}
#container1 .UnitedStatespoints{
	fill: rgb(162,83,35);
}
#container1 #Franceline, #container1 .FrancechartOneInfoBox{
	stroke:rgb(57,123,122);
}
#container1 #Francekey, #container1 #FrancekeyText{
	fill: rgb(57,123,122);
}
#container1 .Francepoints{
	fill: rgb(57,123,122);	
}
#container1 #Swedenline, #container1 #Swedenline, #container1 .SwedenchartOneInfoBox, #container1 .SwedenchartOneInfoBox{
	stroke:rgb(88,191,191);
}
#container1 #Swedenkey, #container1 #SwedenkeyText{
	fill: rgb(88,191,191);
}
#container1 .Swedenpoints, #container1 .Swedenpoints{
	fill: rgb(88,191,191);	
}
#container1 #Switzerlandline, #container1 .SwitzerlandchartOneInfoBox{
	stroke:rgb(243,130,61);
}
#container1 #Switzerlandkey, #container1 #SwitzerlandkeyText{
	fill: rgb(243,130,61);
}
#container1 .Switzerlandpoints{
	fill: rgb(243,130,61);	
}
#container1 #Germany1line, #Germany2line, #container1 .Germany2chartOneInfoBox, #container1 .Germany1chartOneInfoBox{
	stroke:rgb(23,85,132);
}
#container1 #Germany1key, #container1 #Germany1keyText{
	fill: rgb(23,85,132);
}
#container1 .Germany1points, .Germany2points{
	fill: rgb(23,85,132);	
}
#container1 #Netherlandsline, #container1 .NetherlandschartOneInfoBox{
	stroke:rgb(180,138,56);
}
#container1 #Netherlandskey, #container1 #NetherlandskeyText{
	fill: rgb(180,138,56);
}
#container1 .Netherlandspoints{
	fill: rgb(180,138,56);	
}
#container1 #Canadaline, #container1 .CanadachartOneInfoBox{
	stroke:rgb(230,198,132);
}
#container1 #Canadakey, #container1 #CanadakeyText{
	fill: rgb(230,198,132);
}
#container1 .Canadapoints{
	fill: rgb(230,198,132);	
}
#container1 #UnitedKingdomline, #container1 .UnitedKingdomchartOneInfoBox{
	stroke:rgb(18,57,85);
}
#container1 #UnitedKingdomkey, #container1 #UnitedKingdomkeyText{
	fill: rgb(18,57,85);
}
#container1 .UnitedKingdompoints{
	fill: rgb(18,57,85);	
}
#container1 #NewZealandline, #container1 .NewZealandchartOneInfoBox{
	stroke:rgb(31,127,201);
}
#container1 #NewZealandkey, #container1 #NewZealandkeyText{
	fill: rgb(31,127,201);
}
#container1 .NewZealandpoints{
	fill: rgb(31,127,201);	
}
#container1 #Norwayline, #container1 .NorwaychartOneInfoBox{
	stroke:rgb(79,116,63);
}
#container1 #Norwaykey, #container1 #NorwaykeyText{
	fill: rgb(79,116,63);
}
#container1 .Norwaypoints{
	fill: rgb(79,116,63);	
}
#container1 #Australialine, #container1 .AustraliachartOneInfoBox{
	stroke:rgb(148,196,128);
}
#container1 #Australiakey, #container1 #AustraliakeyText{
	fill: rgb(148,196,128);
}
#container1 .Australiapoints{
	fill: rgb(148,196,128);	
}

#container1 .chart1note{
	fill: black;
	font-size: 10px;
}

/*Chart2*/

#viz-chartTwo {
	padding: 10px 0 0 0;
}

#container2 td {
	font-size: 16px;
	text-align: center;
}
#container2 .leftAlign {
	text-align: left;
}

#container2 #d3TableContainer{
	color: #808080;
}

#container2 #tableContainer{
	min-width: 400px;
	max-width: 1000px;
	color: rgb(99,113,119);
}

#container2 #headerRow{
	background-color: rgb(17,73,131);
	color: white;
}

#container2 #headerRow th{
	font-weight: 400;
	text-align: center
}

#container2 #chartTwo, #tableSVG{
	border: 1px solid #CCC;
	float: right;
	background-color: white;
	font-size: 12px;
}

#container2 .bar {
	fill: rgb(238,123,59);
}

#container2 #blank0{
	display: none;
}

#container2 .softBlue{
	background-color: rgb(219,244,245);
}

#container2 .bookEnd{
	font-weight: 600;
	background-color: rgb(180,233,230);
}


#container2 .table>tbody>tr>td, .table>thead>tr>th {
	border-top: none;
	border-bottom: none;
}

#container2 .activeRow{
	background-color: rgb(237,249,250);
}

#container2 .subsectionBar {
	float: left;
	clear: left;
	color: rgb(255,96,0);
	font-weight: 500;
	font-size: 15px;
  width: 49%;
  text-align: left;
}

#container2 #equityNote {
	padding-left: 10px;
}

#container2 .questionSet{
	background-color: white;
	color: black;
}

#container2 .question:hover {
	background-color: rgb(254,242,232);
}

#container2 .selectedQuestion {
	color: rgb(238,123,59);
	font-size: 15px;
	float: left;
	width: 50%;
	position: relative;
	top: 50px;
}

#container2 #directions{
	font-size: 20px;
	fill: #808080;
}

#container2 .plusMinus{
	font-size: 20px;
	color: rgb(3,195,190);
	position: relative;
  top: 2px;
  left: 10px;
}

/*Chart3*/
#container3 #controls{
  margin-bottom: 10px;
}
#container3 #note{
  fill: black;
  stroke: none;
  font-size: 12px;
}

#container3 .alignLeft {
	text-align: left;
}

#container3 .chartTitle {
	font-size: 29px;
}

#container3 .btn {
  margin: 2px 5px 0 5px;
  padding: 2px 6px 3px 6px;
  font-size: 13px;
  font-weight: normal;
}

#container3 .selectedBtn {
  box-shadow: 0 0px 0px rgba(82,168,236,.8) inset, 0 0 10px rgba(82,168,236,.8);
  outline: 0 none;
  background-color: rgb(232,244,244);
  color: rgb(104,183,185);
}

#container3 .avgLine{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#container3 .avgLabel {
  fill: #ccc;
  text-anchor: left;
  font-size: 18px;
}

#container3 .pointLabel, #container3 .point {
  cursor: pointer;
}


/*Chart 4*/

#container4 .label {
	cursor: default;
	font-weight: 300;
}

#container4 #chartTitle{
	font-size: 29px;
	fill: black;
}

#container4 .keyText {
	fill: black;
	text-anchor: start;
	font-size: 14px;
}

#container4 .oldPoints, #container4 .oldInfoText{
	fill: rgb(250, 202, 168);
}

#container4 .newPoints, #container4 .newInfoText {
	fill: rgb(243, 123, 49);
}

#container4 .y.axis .domain{
	stroke-width: 0;
}

#container4 .x.axis .domain{
	stroke: #808080;
}

#container4 .bar {
	fill: #ccc;
}

#container4 .btn {
	margin: 0 5px 0 5px;
	border-width: 1px;
	padding: 2px 6px 3px 6px;
  font-size: 13px;
  font-weight: normal;
}

#container4 .selectedBtn {
  box-shadow: 0 0px 0px rgba(82,168,236,.8) inset, 0 0 10px rgba(82,168,236,.8);
  outline: 0 none;
  font-weight: 700;
}

#container4 text {
	fill: #808080;
	font-weight: 300;
}

#chart4Note {
	font-size: 10px;
	fill: black;
	line-height: 1;
	padding-top: 3px;
}

#chart4Holder{
	bottom: auto !important;
	top: 0px !important;
}

#container4 .infoNumber{
	font-size: 20px;
}

/*Chart 5*/

#container5 .y .domain {
	fill: url(#svgYGradient);
}

#container5 .x .domain {
	fill: url(#svgXGradient);
}

#container5 .avgLine{
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#container5 .avgLabel {
  fill: #ccc;
  font-size: 15px;
}

#container5 .axisText {
	font-size: 13px;
}