@import "../../../scss/_colors.scss";

.slope-chart {
    display: flex;
    position: relative;
    max-width: 100%;
    // large padding below so when it scrolls, there is breathing room
    padding: 0 10px 40px 0;

    .slope-chart__left,
    .slope-chart__right {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }

    $leftRightPadding: 2px;
    .slope-chart__left {
        padding-right: $leftRightPadding;
    }

    .slope-chart__right {
        padding-left: $leftRightPadding;
        margin-left: -20px;
    }

    .slope-chart__lines {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: -20px;
    }

}

.slope-chart__column-title {

    color: $green-0c5554;
    font-size: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    .slope-chart__left & {
        text-align: right;
    }

}

.slope-chart__lines {
    svg {
        width: 100%;
        height: 100%;
    }

    line {
        transition: opacity 250ms;
    }
}




$locationRadius: 4px;
$singleColor: #e4ecf0;
$groupColor: #e4ecf0;
$dimOpacity: 0.3;
$lineHeight: 16px;

.slope-chart__location {

    display: flex;
    align-items: center;

    font-size: 12px;
    height: $lineHeight;
    line-height: $lineHeight;

    cursor: default;
    transition: opacity 250ms;

    .slope-chart__left & {
        justify-content: flex-end;
    }

}

.slope-chart__location-dot {
    display: inline-block;
    margin: 0 2px;
    width: 6px;
    height: 6px;
    background-color: $medicaid-yellow;
    border-radius: 50%;
    content: "";

    &.is-hidden {
        visibility: hidden;
    }

    .is-location-dimmed & {
        opacity: $dimOpacity;
    }
}

.slope-chart__location-text {

}


.slope-chart__location-name,
.slope-chart__location-rank {
    display: inline-block;
    padding: 0 3px;

    height: $lineHeight;
    line-height: $lineHeight - 2; // 2 for each border
    box-sizing: border-box;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    .is-tied & {
        background-color: none;
    }

    .is-single & {
        background-color: none;
    }  
}

.slope-chart__location-name {

    // see styles above, same as .slope-chart__location-rank

    // on left side
    .slope-chart__left & {
        border-top-left-radius: $locationRadius;
        border-bottom-left-radius: $locationRadius;
    }

    // is last in group on the left side
    .slope-chart__left .is-last-in-group & {
        border-bottom-right-radius: $locationRadius;
    }

    // on right side
    .slope-chart__right & {
        border-top-right-radius: $locationRadius;
        border-bottom-right-radius: $locationRadius;
    }

    // is last in group on the right side
    .slope-chart__right .is-last-in-group & {
        border-bottom-left-radius: $locationRadius;
    }


    // is the last in it's group on left side
    .is-last-in-group.slope-chart__left & {
        border-bottom-right-radius: $locationRadius;
    }

    .has-tied-before & {
        border-top: none;
    }

    .has-tied-after & {
        border-bottom: none;
    }

    .is-location-dimmed & {
        opacity: $dimOpacity;
    }
}

.slope-chart__location-rank {

    min-width: 20px;
    text-align: center;
    font-weight: bold;
    
    // see styles above, same as .slope-chart__location-name

    // on left side
    .slope-chart__left & {
        border-top-right-radius: $locationRadius;
        border-bottom-right-radius: $locationRadius;
    }

    // on right side
    .slope-chart__right & {
        border-top-left-radius: $locationRadius;
        border-bottom-left-radius: $locationRadius;
    }

    // don't show the rank at all if it's not the first
    .has-tied-before & {
        visibility: hidden;
    }

    .has-tied-after & {
        border-bottom: none;
    }

    .is-location-dimmed & {
        background-color: none;
    }

    .is-rank-dimmed & {
        opacity: $dimOpacity;
    }


}


.slope-chart__indicator-selector {
    margin-bottom: 10px;

    select {
        margin-right: 24px;

        &::-ms-expand {
            display: none;
        }
    }

    label {
        white-space: nowrap;
        font-size: 15px;
    }
}

.note {
    font-size: 14px;  
}